<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="container">
      <form class="" action="/skills/create" method="post">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <input type="text" name="skill[field]" placeholder="Field">
        <input type="text" name="skill[title]" placeholder="Title">
        <input type="integer" name="skill[yoe]" placeholder="Years of experience">
        <input type="bigint" name="skill[idnum]" placeholder="Field ID #">
        <input type="text" name="skill[description]" placeholder="Description">
        <input type="submit" name="name" value="Submit">
      </form>
    </div>
  </body>
</html>
