<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="container">
      <form class="" action="/skills/create" method="post">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <p><input type="text" name="skill[field]" placeholder="Field"></p>
        <p><input type="text" name="skill[title]" placeholder="Title"></p>
        <p><input type="integer" name="skill[yoe]" placeholder="Years of experience"></p>
        <p><input type="bigint" name="skill[idnum]" placeholder="Field ID #"></p>
        <p><input type="text" name="skill[description]" placeholder="Description"></p>
        <p><input type="submit" name="name" value="Submit"></p>
      </form>
    </div>
  </body>
</html>
